<!--
    <h3>Ajout d'un produit</h3>
    <form >
        <div>
            <label> Identifiant du produit </label>
            <input type="number"  > 
        </div>  
        <div>
            <label>Libellé</label>
            <input type="text"  >
        </div>
        <div>
            <label> Made In </label>
            <label>
                <input type="radio" name="madeIn" value="Tunisie" >Tunisie
            </label>
            <label>
                <input type="radio" name="madeIn" value="Autre" >Autre
            </label>
        </div>
        <div>
            <label>Catégorie</label>
            <select>
                <option value="Fourniture">Fourniture</option>
                <option value="Vêtements">Vêtements</option>
                <option value="Accessoires">Accessoires</option>
            </select>
        </div>
        <div>
            <label>
                 <input type="checkbox"  > Nouveau
            </label>
        </div>

        <input type="submit" value = "Ajouter" >
    
        <input type ="button" value="Vider" >
    </form>
-->
    <h3>Ajout d'un produit</h3>
    <form >
        <div class="form-group">
            <label> Identifiant du produit </label>
            <input type="number"  class="form-control"> 
        </div>  
        <div class="form-group">
            <label>Libellé</label>
            <input type="text" class="form-control">
        </div>
        <div>
            <label> Made In </label>
            <label>
                <input type="radio" name="madeIn" value="Tunisie" >Tunisie
            </label>
            <label>
                <input type="radio" name="madeIn" value="Autre" >Autre
            </label>
        </div>
        <div class="form-group">
            <label>Catégorie</label>
            <select class="form-control" >
                <option value="Fourniture">Fourniture</option>
                <option value="Vêtements">Vêtements</option>
                <option value="Accessoires">Accessoires</option>
            </select>
        </div>
        <div>
            <label>
                 <input type="checkbox" > Nouveau
            </label>
        </div>

        <input type="submit" value = "Ajouter" class= "btn btn-danger"  >
    
        <input type ="button" value="Vider" class = "btn btn-success" >
    </form>
